<div class="col-md-12">
  <h1>{{title}}</h1>
</div>
<div class="col-md-4" *ngFor="let pedido of pedidos">

  <div class="card">

    <div class="card-header align-items-center">
      Order {{pedido.orderId}}
    </div>
    <div class="card-body">
      <p> Restaurant:
        {{pedido.restaurantCode}}
      </p>
      <p> Estado: </p>
      <p *ngIf="pedido.orderStatus==='Created'" class='bg-warning text-white text-center'>
        No entregado
      </p>
      <p *ngIf="pedido.orderStatus==='Serving'" class='bg-success text-white text-center'>
        En Atencion
      </p>
      <p *ngIf="pedido.orderStatus==='Delivered'" class='bg-success text-white text-center'>
        Entregado
      </p>   

      <div  *ngIf="pedido.restaurantCode==='SUC-03'" class="text-center">
        <img src="\assets\imagenes\pizza3.jpg" class="rounded img-thumbnail" alt="PIZZA">
       
      </div>
      <div  *ngIf="pedido.restaurantCode!=='SUC-03'" class="text-center">
        <img src="\assets\imagenes\pizza4.jpg" class="rounded img-thumbnail" alt="PIZZA">
       
      </div>
      <a [routerLink]="['/pedidos/edit', pedido.orderId]" class="btn btn-info btn-block glyphicon glyphicon-edit" *ngIf="pedido.orderStatus === 'Serving'">
        {{ 'Ver Pedido' }}
      </a>

      <a (click)="serveOrder(pedido)" class="btn btn-info btn-block glyphicon glyphicon-edit" *ngIf="pedido.orderStatus === 'Created'">
        {{ 'Atender Pedido' }}
      </a>

    </div>
  </div>
</div>