<div class="col-md-12">
  <h1>{{title}}</h1>
</div>
<div class="col-md-4" *ngFor="let pedido of pedidos">

  <div class="card">

    <div class="card-header align-items-center">
      Order {{pedido.orderId}}
    </div>
    <div class="card-body">
      <p> Restaurant:
        {{pedido.restaurantCode}}
      </p>
      <p> Estado: </p>
      <p *ngIf="pedido.orderStatus==='Created'" class='bg-primary text-white'>
        No entregado
      </p>
      <p *ngIf="pedido.orderStatus==='Delivered'" class='bg-success text-white'>
        Entregado
      </p>
      <a [routerLink]="['/pedidos/edit', pedido.orderId]" class="btn btn-info btn-block">
        {{ pedido.orderStatus === 'Created' ? 'Atender Pedido' : 'Ver Pedido'}}
      </a>

    </div>
  </div>
</div>