<div class="col-md-3  m-2 card" *ngFor="let pedido of pedidos">
    <div *ngIf="pedido.orderStatus===1" class="test-center">
      <div class="card-hear text-while d-flex justify-content-between align-items-center">
        Code:
        {{pedido.orderId}}
      </div>
      <p> Restaurant Code:
        {{pedido.restaurantCode}}
      </p>
      <div class='bg-secondary'>
        <p> Status:
          {{pedido.statusDescription}}
        </p>    
       <i class="glyphicon  glyphicon-pizza-slice"></i>     
       <div class="text-center">
          <img src="/assets/Bodegones_360x360_PPP.jpg" class="rounded img-thumbnail" alt="PIZZA">
        </div>
      <!--  <a [routerLink]="['/pedidos/edit', pedido.orderId]" class="btn btn-info btn-block glyphicon glyphicon-edit">
          Editar Pedido
        </a>-->
      </div>
    </div> 
  </div>