<div class="col-12 col-md-4">
  <div class="card">
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <p>Numero de Orden:</p>

          <h1 class="align-center">{{pedido.orderId}}</h1>

        </div><br>
        <button class="btn btn-sucess btn-block btn-info" (click)="updatePedido()" *ngIf="pedido.orderStatus === 'Serving'">
          Despachar
        </button>
      </form>
    </div>
  </div>
</div>
<div class="col-12 col-md-8">
  <div class="card">
    <div class="card-body">
      <div class="table-wrapper">
        <table class="table-small">
          <thead>
            <th>Item</th>
            <th>Descripcion</th>
            <th class="align-right">Cantidad</th>
            <th class="align-center">Finalizado</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of pedido.items; let i = index">
              <td>{{i + 1}}</td>
              <td>{{item.description}}</td>
              <td class="align-right">{{item.quantity}}</td>
              <td class="align-center">
                <div class="custom-control custom-checkbox" *ngIf="pedido.orderStatus === 'Serving'">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="customCheck{{i}}">
                  <label class="custom-control-label" for="customCheck{{i}}"></label>
                </div>
                <p *ngIf="pedido.orderStatus === 'Delivered'">Yes</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>