/* You can add global styles to this file, and also import other style files */

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.table-wrapper {
    overflow-x: auto;
}

.table-small {
    width: 100%;
}

.table-small th{
    background-color: #f7f7f9;
}

.table-small th,
.table-small td {
    padding: 1rem;
}
